.search {
  height: 4rem;
  justify-self: center;
  border: 2px solid hwb(203 50% 11%);
  border-radius: 0.8rem;
  width: 42rem;
  padding: 2rem;
  background-color: rgb(6, 101, 149);
  color: var(--color-text);
  font-size: large;
  font-weight: bold;
}

.search:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 2rem 2rem #0000001a;
}

.search::placeholder {
  font-size: 1.5rem;
  color: var(--color-text);
}
